<?xml version="1.0" ?>
<config>
    <modules>
        <Hampe_Angular>
            <version>0.9.0</version>
        </Hampe_Angular>
    </modules>
    <global>
        <blocks>
            <angular>
                <class>Hampe_Angular_Block</class>
            </angular>
        </blocks>
        <helpers>
            <angular>
                <class>Hampe_Angular_Helper</class>
            </angular>
        </helpers>
        <models>
            <angular>
                <class>Hampe_Angular_Model</class>
            </angular>
        </models>
    </global>
    <default>
        <angular>
            <models>
                <product>
                    <model>catalog/product</model>
                    <serializer>angular/serializer_product</serializer>
                </product>
                <category>
                    <model>catalog/category</model>
                    <allowed>true</allowed>
                </category>
            </models>
        </angular>
    </default>
    <frontend>
        <layout>
            <updates>
                <angular>
                    <file>angular.xml</file>
                </angular>
            </updates>
        </layout>
        <routers>
            <angular>
                <use>standard</use>
                <args>
                    <module>Hampe_Angular</module>
                    <frontName>angular</frontName>
                </args>
            </angular>
        </routers>
    </frontend>
</config>